.text {
    margin-left: 15px;
}

.blue-text {
    color: var(--blue-color);
}

.page_title {
    width: 100%;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
}

.topic {
    margin-top: 8vh;
    margin-left: 20px;
    font-size: 14px;
}

.buttons_container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: auto 20px 10px 20px;
}

@media (max-width: 480px) {
    .page_title {
        width: 100%;
        text-align: start;
    }
}