
.button {
    background-color: transparent;
    border: 2px solid #484848;
    border-radius: 14px;
    height: 56px;
    transition: opacity 0.5s ease;

}

.primary {
    background-color: var(--blue-color);
    color: white;
}

.button:hover {
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

@media(min-width: 480px) {
    .button {
        width: 25vw;
    }
}

@media(max-width: 480px) {
    .button {
        width: 90vw;
    }
}



