.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-primary);
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text {
    margin-left: 15px;
}

.blue-text {
    color: var(--blue-color);
}